<p>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
    <br />本著作由
    <a xmlns:cc="http://creativecommons.org/ns#" href="shunnien.github.io" property="cc:attributionName" rel="cc:attributionURL">ShunNien Yu</a>製作，以<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">創用CC 姓名標示-非商業性 4.0 國際 授權條款</a>釋出。
    <br />Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
    <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
